name: Presubmit Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  linux-gcc:
    runs-on: ubuntu-latest
    container:
      image: docker.pkg.github.com/charlesnicholson/docker-images/docker-image:latest
    strategy:
      matrix:
        architecture: [32, 64]
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: COBS_LINUXARCH=${{ matrix.architecture }} make -j

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: make -j

  win:
    runs-on: windows-latest
    strategy:
      matrix:
        architecture: [32, 64]
    steps:
      - uses: actions/checkout@v2
      - name: Build
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars${{ matrix.architecture }}.bat"
          call make-win.bat
